*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav-logo{
    width: 172.75px;
    height: 35px;
}

body{
    background-color: rgb(41, 98, 241);
    height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

ul {
    list-style-type: none;
}

header .navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .nav-links {
    display: flex;
    gap: 40px;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: 0.2s ease;

}

.navbar a:hover {
    color: rgba(255,215,0,255);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:10%;
}

.wrapper h1 {
    color: rgba(255,215,0,255);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(41, 98, 241);
}

.wrapper{
    width: 420px;
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    padding: 30px 40px ;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 5px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    transition: 0.2s ease;
}

.wrapper .btn:hover {
    background: rgba(255,215,0,255);
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;

}

.wrapper .general-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.general-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.general-link p a:hover{
    text-decoration: underline;

}